// Define variables for your color scheme

$body-green: #f0ead4;
$text-black: #1e3c2f;
$text-white: #f9f7f2;
$text-light: #5b6c5f;
$dark-green: #174B36;
$dark-green-hover: #237754;
$medium-green: #afc744;
$light-green: #dde4c9;
$beige: #f6f1e3;
$cta-pending: #e5e3c9;
$border-color: #c7cbb8;
