// Define variables for your color scheme

$body-green: #f1f1dc;
$text-black: #1e3c2f;
$text-light: #5b6c5f;
$dark-green: #1c5a41;
$medium-green: #afc744;
$light-green: #dde4c9;
$beige: #f6f1e3;
$cta-pending: #e5e3c9;
$border-color: #c7cbb8;
$profile-background: #f0ead4;
