  <header class="d-flex justify-content-end gap-3 mt-5 pe-5 w-100">
    <span>
      <svg width="40" height="40" viewBox="0 0 24 24" role="img" aria-label="Notifications" fill="#174B36">
        <path d="M12 3c-3.866 0-7 3.134-7 7v4.5H4a2 2 0 0 0 0 4h16a2 2 0 0 0 0-4h-1V10c0-3.866-3.134-7-7-7Z"/>
        <circle cx="12" cy="19" r="1.8"/>
      </svg>
    </span>
    <%= image_tag("avatar", class:"avatar") %>
  </header>
