<div class="tool-card carousel-item">
  <% if tool.photos.attached? %>
    <% tool.photos.each do |photo| %>
      <%= image_tag photo, class: "tool-image" %>
    <% end %>
  <% else %>
    <%= image_tag "placeholder.png", class: "tool-image" %>
  <% end %>
  <h5><%= tool.name %></h5>
  <p><%= tool.description %></p>
</div>
