<div class="login mt-4">
  <h1>ToolMate</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Se connecter", new_user_session_path, class:"button" %>
  <%= link_to "Créer un compte", new_user_registration_path, class:"button"  %>
</div>
