.button {
  padding: 0.5rem 1.5rem;
  background: $dark-green;
  color: $body-green;
  border-radius: 0.5rem;
  border: 1px solid #1c5a41;
  transition: 0.5s ease;

  &:hover {
    background: lighten($light-green, 20%);
    color: $dark-green;
    border: 1px solid $dark-green;
    text-shadow: 2px 2px 10px $body-green;
  }
}

.form-check-input:checked {
  background: $dark-green;
  border-color: $body-green;
}
