
.form {
  margin: 0 auto;
  width: 600px;


  h1 {
    text-align: center;
    letter-spacing: -1px;
    padding: 3rem 0 0.5rem 0;
    color: $dark-green;
  }
  h2 {
    color: $dark-green;
    text-align: center;
    padding: 1rem 0;
  }
}

.form-actions {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.form-control {
  background: lighten($light-green, 20%);
  color: $dark-green;
  border-radius: 10px;
}

.form-label {
  margin: 0;
  padding: 0 0 0.2rem 0.2rem;
  margin-top: 1rem;
}
