.navbar {
  justify-content: space-between;
  background: $dark-green;

  a {
    color: $body-green;
  }

  a:hover {
    color: darken($body-green, 20%);
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
  border-radius: 10px;
}

.dropdown-menu {
  background: $body-green;
  border-radius: 5px;
  border: 1px solid $light-green;
}

a.dropdown-item {
  color: $dark-green;

  &:hover {
    background: $body-green;
    color: lighten($dark-green, 20%);
  }
}
