.navbar {
  justify-content: space-between;
  background: $dark-green;

  a {
    color: $body-green;
  }

  a:hover {
    color: darken($body-green, 20%);
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
  border-radius: 10px;
}
