.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, $dark-green 0%, darken($dark-green, 5%) 100%);
  width: 220px;
  padding: 0;
  color: $text-white;
  letter-spacing: 2px;

  a {
    padding: 1.2rem 2rem;
  }

  h1 {
    margin-top: 2rem;
    text-align: center;
    color: $beige;
    letter-spacing: -1px;
    font-weight: 600;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 1rem;
    padding: 0;
  }

  span {
    display: inline-flex;
  }
}

.sidebar-nav .icon-24 svg {
  width: 20px;
  height: 20px;
  display: block;
  stroke: currentColor;
}

.sidebar-content {
  min-height: 75vh;
}


.sidebar-nav .nav-link,
.sidebar-settings {
  transition: background-color 0.4s ease, opacity .15s ease;
}

.sidebar-nav .icon-24 svg {
  transition: stroke 0.4s ease, transform .15s ease;
}

.sidebar-nav .nav-link:hover,
#settings:hover {
  opacity: 0.85;
  background: $dark-green-hover;
}

#settings {
  padding-left: 2rem;
  font-size: 0.9rem;
}
