.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: $dark-green;
  width: 220px;
  padding: 0;

  h1 {
    margin-top: 2rem;
    color: $body-green;
    text-align: center;
  }

  li {
    list-style: none;
    color: $body-green;
    font-size: 1rem;
  }

  span {
    display: inline-flex;
  }
}
